<h1>Edit Article</h1>
<% if @project.errors.any? %>
    <ul>
      <% @project.errors.full_messages.each do |error| %>
          <li><%= error %></li>
      <% end %>
    </ul>
<% end %>
<%= form_for @project do |project|%>
    <%= project.text_field :title %>
    <br />
    <%= project.text_area :description %>
    <br />
    <%= project.submit %>
<% end %>
<%= link_to 'Cancel and return to index', projects_path %>